#produtos,#sobre,#fale{
    min-height: 100vh;
    padding: 4em;
}

#produtos{
    background-color: rgb(243, 234, 109);
}
#sobre{
    background-color: rgb(238, 115, 238);
    color: rgb(121, 50, 50);
}
#fale{
    background-color: #f0b972;
    color: black;
}
nav{
    position: fixed;
    margin-top: 0px;
    width: 100%;
    z-index: 10000;
}
#produtos-img{
 max-height: 450px;
}
.card h5{
    text-align: center;
    margin-bottom: 1em;
}
#subir a{
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    text-decoration: none;
    color:rgb(255, 145, 0) ;
    opacity: 0.5em;
    text-align:  center;

}
#subir a i {
    font-size: 3em;

}
#subir a:hover{
    opacity: 1em;
}
#subir{
    display: none;
}
.nav-link{
    font-family: sans-serif;
    color: palevioletred;
}