@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
#cor{
    background-color:rgb(255, 248, 230);
}
#logo{
    margin-right: 5em;
    color: rgb(168, 67, 0);
    font-family: 'Fredoka One','cursive';
    font-size:3em;

}

#navtitulos{
    margin-left: 13em;
    font-family: 'Fredoka One','cursive' ;
   
}
#titulo{
    font-family: 'Fredoka One','cursive' ;
    color: rgb(255, 184, 49);
}
#sobre{
    background-color: rgb(168, 67, 0);
}





.nav-link{
    color:rgb(168, 67, 0) ;
    font-size: 2em;
}

